<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension" />
        <staticContent>
            <mimeMap fileExtension=".gpx" mimeType="gpx=application/gpx+xml" />
        </staticContent>
        <httpErrors>
            <remove statusCode="403" subStatusCode="-1" />
            <error statusCode="403" prefixLanguageFilePath="" path="https://192.168.0.151:7778" responseMode="Redirect" />
        </httpErrors>
    </system.webServer>
</configuration>
